<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ziraffe - A Cloud platform for communication between companies and recruitment consultents.</title>
    <meta name="description" content="Ziraffe is a cloud based platform that transforms your recruitment interactions with recruitment consultants into a pleasant one. Engage with your recruitment consultants for once and then complete the remaining process entirely without a call or a mail. All in one platform absolutely for free " />
    <link rel="shortcut icon" type="image/x-icon" href="{{{data.base_url}}}public/image/favicon.ico" />
    <meta name="generator" content="Ziraffe 1.0" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1, user-scalable=no">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type='text/css'/>     
    <link rel="stylesheet" href="{{{data.base_url}}}public/css/style.css"/> 
    <link rel="stylesheet" href="{{{data.base_url}}}public/scripts/main.js"/> 
    <link rel="shortcut icon" type="image/x-icon" href="{{{data.base_url}}}public/image/favicon.ico" />

	<meta property="og:title" 
		  content="Ziraffe - A Cloud platform for communication between companies and recruitment consultents." />
	<meta property="og:url" content="{{{data.base_url}}}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{{{data.base_url}}}public/image/main.png" /> 
	<meta property="og:description" content="Ziraffe is a cloud based platform that transforms your recruitment interactions with recruitment consultants into a pleasant one. Engage with your recruitment consultants for once and then complete the remaining process entirely without a call or a mail. All in one platform absolutely for free ">
    
</head>
<body>
{{{body}}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{{data.base_url}}}public/scripts/jquery.fadethis.min.js"></script>
<script type="application/javascript" src="{{{data.base_url}}}public/scripts/main.js"></script>
<script type="application/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43533675-1', 'auto');
  ga('send', 'pageview');

</script>
<script>$(window).fadeThis();</script>
</body>
</html>