<div class="container squeeze">
    <ul>
      {{#each data.listData}}
        <br>
        <li>
            <pre>
            ------------------------------------------------
            Name: {{{name}}}
            Company : {{{companyName}}}
            Email: {{{email}}}
            Company Size: {{{companySize}}}
            Location: {{{location}}}
            CurrentSolution: {{{oldSolution}}}
            Country: {{{country}}}
            ------------------------------------------------
            </pre>
        <br/>
        </li>
      {{/each}}
    </ul>
</div> 